include *.txt
include *.md
include *.pkl
recursive-include ./model *

include model/dataset/titanic.csv
include model/dataset/test.csv
include model/model/*.pkl
include model/VERSION
include model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
